{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <form  method="post">
    {% csrf_token %}
{#        <input name="search" type="search" placeholder="Search NID">#}
        <input name="s1" type="search" placeholder="name" >
{#        <i class="fas fa-search" aria-hidden="true"></i>#}
        <button name="search" class="btn btn-success" type="submit">Search</button>
    </form>
{#    {% for i in p %}#}
{#        <p>{{ i.nid }}</p>#}
{#    {% endfor %}#}

{% endblock %}

</body>
</html>