{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>center_staff</title>
</head>
<body>
{% block content %}
<form class="crispy-form" method="post">
    {% csrf_token %}
    <div><label>Username*</label>
    <input name="username" required type="text" placeholder="username" >
    </div>
    <div>
    <label>Fullame*</label>
    <input name="name" type="text" placeholder="name" >
    </div>
    <div>
        <label>Password*</label>
    <input name="password" type="password" placeholder="Password" >
{#    {{ form|crispy }}#}
    </div>
    <div>
        <label>User ID*</label>
    <input name="user" type="text" placeholder="User ID" >
    </div>

    <br>

    <button name="submit" class="btn btn-success" type="submit">Submit</button>
</form>
{% endblock %}
</body>
</html>