{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<h1>CENTER</h1>
<ul>

        {% for obj in object_list %}
            {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'create_center' obj.pk %}">{{ obj.name }}</a></li>

            {% else %}
                <li class="nav-item"><a href="{% url 'registration'  %}">{{ obj.name }}</a></li>

            {% endif %}
        {% endfor %}

</ul>
{% endblock %}
</body>
</html>