{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
    <h1 style="text-align: center">Registration Card</h1>
    <br>
    <p> Name      : Md. Ashraful Islam</p>
    <p> Contact  : +880195-4773688</p>
    <p> NID      : {{ object.nid }}</p>
    <p> Center   :{{ object.center.name }}</p>
    <p> Date     :{{ object.period.date }}</p>
    <p> Slot     :{{ object.period.slot }}</p>
    <p> Duration :{{ object.period.sttime }} am - {{ object.period.etime }}am</p>
    <i style="color: red">*Please attend in the center in time</i>

{#    {%  if d1 %}#}
{#    {{ d1.nid }}#}
{#    {% endif %}#}

{% endblock content %}
