<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 style="text-align: center">Registration Card</h1>
<br>
<p> NID      : {{ object.nid }}</p>
<p> Center   :{{ object.center.name }}</p>
<p> Date     :{{ object.period.date }}</p>
<p> Slot     :{{ object.period.slot }}</p>
<p> First Doss     :{{ object.doss_1st }}</p>
<p> second Doss     :{{ object.doss_2nd }}</p>
<p> Duration :{{ object.period.sttime }} am - {{ object.period.etime }}am</p>


<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Period</th>
        <th scope="col">Slot</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">First Doss</th>
        <td>{{ object.period.slot }}</td>
        <td>{{ object.period.date }}</td>
        <td>{{ object.period.sttime }} am - {{ object.period.etime }}am</td>
        {% if object.doss_1st %}
            <td> Done</td>
        {% else %}
            <td> Pending </td>
        {% endif %}

    </tr>
    <tr>
        <th scope="row">Second Doss</th>
        <td>{{ object.period.slot }}</td>
        <td>{{ object.period.second_date}}</td>
        <td>{{ object.period.sttime }} am - {{ object.period.etime }}am</td>
        {% if object.doss_1st %}
            <td> Done</td>
        {% else %}
            <td> Pending </td>
        {% endif %}
    </tr>

    </tbody>
</table>

</body>
</html>